@each $key, $value in $font-size-scale {
    .#{$key} {
      font-size: $font-size-base * $value;
    }
}

@each $key, $value in $font-weights {
  .font-weight-#{$key} {
    font-weight: $value;
  }
}
.fz-72 {
  font-size: 72px;
}
.font-italic {
  font-style: italic;
}

