/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  display: block;
  text-decoration: none; }

a:hover {
  color: #eecdcc; }

input:focus::-webkit-input-placeholder {
  color: #aa0601; }

input:focus::-moz-placeholder {
  color: #aa0601; }

input:focus:-ms-input-placeholder {
  color: #aa0601; }

input:focus::-ms-input-placeholder {
  color: #aa0601; }

input:focus::placeholder {
  color: #aa0601; }

textarea:focus::-webkit-input-placeholder {
  color: #aa0601; }

textarea:focus::-moz-placeholder {
  color: #aa0601; }

textarea:focus:-ms-input-placeholder {
  color: #aa0601; }

textarea:focus::-ms-input-placeholder {
  color: #aa0601; }

textarea:focus::placeholder {
  color: #aa0601; }

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; }

.container-md {
  max-width: 730px;
  width: 100%;
  margin: 0 auto; }

.text-primary {
  color: #AA0601; }

.text-secondary {
  color: #650300; }

.text-dark {
  color: #000000; }

.text-white {
  color: #FFFFFF; }

.text-gray {
  color: #555555; }

.bg-primary {
  background-color: #AA0601; }

.bg-secondary {
  background-color: #650300; }

.bg-dark {
  background-color: #000000; }

.bg-white {
  background-color: #FFFFFF; }

.bg-gray {
  background-color: #555555; }

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0; }

.link-white {
  color: #fff; }

.h-100 {
  height: 100px; }

.h-304 {
  height: 304px; }

.input-style {
  width: 100%;
  padding: 14px 0px 14px 16px;
  border: 1px solid #ca8a88;
  background: #aa06010d;
  opacity: 0.7;
  font-size: 16px; }

.d-none {
  display: none; }

.d-inline {
  display: inline; }

.d-inline-block {
  display: inline-block; }

.d-block {
  display: block; }

.d-table {
  display: table; }

.d-table-row {
  display: table-row; }

.d-table-cell {
  display: table-cell; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-around {
  -webkit-box-pack: around;
      -ms-flex-pack: around;
          justify-content: around; }

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-between {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.pt-0 {
  padding-top: 0rem; }

.mt-0 {
  margin-top: 0rem; }

.pt-1 {
  padding-top: 0.25rem; }

.mt-1 {
  margin-top: 0.25rem; }

.pt-2 {
  padding-top: 0.5rem; }

.mt-2 {
  margin-top: 0.5rem; }

.pt-3 {
  padding-top: 0.75rem; }

.mt-3 {
  margin-top: 0.75rem; }

.pt-4 {
  padding-top: 1rem; }

.mt-4 {
  margin-top: 1rem; }

.pt-5 {
  padding-top: 1.25rem; }

.mt-5 {
  margin-top: 1.25rem; }

.pt-6 {
  padding-top: 1.5rem; }

.mt-6 {
  margin-top: 1.5rem; }

.pt-7 {
  padding-top: 1.75rem; }

.mt-7 {
  margin-top: 1.75rem; }

.pt-8 {
  padding-top: 2rem; }

.mt-8 {
  margin-top: 2rem; }

.pt-9 {
  padding-top: 2.25rem; }

.mt-9 {
  margin-top: 2.25rem; }

.pt-10 {
  padding-top: 2.5rem; }

.mt-10 {
  margin-top: 2.5rem; }

.pt-11 {
  padding-top: 2.75rem; }

.mt-11 {
  margin-top: 2.75rem; }

.pt-12 {
  padding-top: 3rem; }

.mt-12 {
  margin-top: 3rem; }

.pt-13 {
  padding-top: 3.25rem; }

.mt-13 {
  margin-top: 3.25rem; }

.pt-14 {
  padding-top: 3.5rem; }

.mt-14 {
  margin-top: 3.5rem; }

.pt-15 {
  padding-top: 3.75rem; }

.mt-15 {
  margin-top: 3.75rem; }

.pt-16 {
  padding-top: 4rem; }

.mt-16 {
  margin-top: 4rem; }

.pt-17 {
  padding-top: 4.25rem; }

.mt-17 {
  margin-top: 4.25rem; }

.pt-18 {
  padding-top: 4.5rem; }

.mt-18 {
  margin-top: 4.5rem; }

.pt-19 {
  padding-top: 4.75rem; }

.mt-19 {
  margin-top: 4.75rem; }

.pt-20 {
  padding-top: 5rem; }

.mt-20 {
  margin-top: 5rem; }

.pb-0 {
  padding-bottom: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.pb-1 {
  padding-bottom: 0.25rem; }

.mb-1 {
  margin-bottom: 0.25rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.pb-3 {
  padding-bottom: 0.75rem; }

.mb-3 {
  margin-bottom: 0.75rem; }

.pb-4 {
  padding-bottom: 1rem; }

.mb-4 {
  margin-bottom: 1rem; }

.pb-5 {
  padding-bottom: 1.25rem; }

.mb-5 {
  margin-bottom: 1.25rem; }

.pb-6 {
  padding-bottom: 1.5rem; }

.mb-6 {
  margin-bottom: 1.5rem; }

.pb-7 {
  padding-bottom: 1.75rem; }

.mb-7 {
  margin-bottom: 1.75rem; }

.pb-8 {
  padding-bottom: 2rem; }

.mb-8 {
  margin-bottom: 2rem; }

.pb-9 {
  padding-bottom: 2.25rem; }

.mb-9 {
  margin-bottom: 2.25rem; }

.pb-10 {
  padding-bottom: 2.5rem; }

.mb-10 {
  margin-bottom: 2.5rem; }

.pb-11 {
  padding-bottom: 2.75rem; }

.mb-11 {
  margin-bottom: 2.75rem; }

.pb-12 {
  padding-bottom: 3rem; }

.mb-12 {
  margin-bottom: 3rem; }

.pb-13 {
  padding-bottom: 3.25rem; }

.mb-13 {
  margin-bottom: 3.25rem; }

.pb-14 {
  padding-bottom: 3.5rem; }

.mb-14 {
  margin-bottom: 3.5rem; }

.pb-15 {
  padding-bottom: 3.75rem; }

.mb-15 {
  margin-bottom: 3.75rem; }

.pb-16 {
  padding-bottom: 4rem; }

.mb-16 {
  margin-bottom: 4rem; }

.pb-17 {
  padding-bottom: 4.25rem; }

.mb-17 {
  margin-bottom: 4.25rem; }

.pb-18 {
  padding-bottom: 4.5rem; }

.mb-18 {
  margin-bottom: 4.5rem; }

.pb-19 {
  padding-bottom: 4.75rem; }

.mb-19 {
  margin-bottom: 4.75rem; }

.pb-20 {
  padding-bottom: 5rem; }

.mb-20 {
  margin-bottom: 5rem; }

.pr-0 {
  padding-right: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.pr-1 {
  padding-right: 0.25rem; }

.mr-1 {
  margin-right: 0.25rem; }

.pr-2 {
  padding-right: 0.5rem; }

.mr-2 {
  margin-right: 0.5rem; }

.pr-3 {
  padding-right: 0.75rem; }

.mr-3 {
  margin-right: 0.75rem; }

.pr-4 {
  padding-right: 1rem; }

.mr-4 {
  margin-right: 1rem; }

.pr-5 {
  padding-right: 1.25rem; }

.mr-5 {
  margin-right: 1.25rem; }

.pr-6 {
  padding-right: 1.5rem; }

.mr-6 {
  margin-right: 1.5rem; }

.pr-7 {
  padding-right: 1.75rem; }

.mr-7 {
  margin-right: 1.75rem; }

.pr-8 {
  padding-right: 2rem; }

.mr-8 {
  margin-right: 2rem; }

.pr-9 {
  padding-right: 2.25rem; }

.mr-9 {
  margin-right: 2.25rem; }

.pr-10 {
  padding-right: 2.5rem; }

.mr-10 {
  margin-right: 2.5rem; }

.pr-11 {
  padding-right: 2.75rem; }

.mr-11 {
  margin-right: 2.75rem; }

.pr-12 {
  padding-right: 3rem; }

.mr-12 {
  margin-right: 3rem; }

.pr-13 {
  padding-right: 3.25rem; }

.mr-13 {
  margin-right: 3.25rem; }

.pr-14 {
  padding-right: 3.5rem; }

.mr-14 {
  margin-right: 3.5rem; }

.pr-15 {
  padding-right: 3.75rem; }

.mr-15 {
  margin-right: 3.75rem; }

.pr-16 {
  padding-right: 4rem; }

.mr-16 {
  margin-right: 4rem; }

.pr-17 {
  padding-right: 4.25rem; }

.mr-17 {
  margin-right: 4.25rem; }

.pr-18 {
  padding-right: 4.5rem; }

.mr-18 {
  margin-right: 4.5rem; }

.pr-19 {
  padding-right: 4.75rem; }

.mr-19 {
  margin-right: 4.75rem; }

.pr-20 {
  padding-right: 5rem; }

.mr-20 {
  margin-right: 5rem; }

.pl-0 {
  padding-left: 0rem; }

.ml-0 {
  margin-left: 0rem; }

.pl-1 {
  padding-left: 0.25rem; }

.ml-1 {
  margin-left: 0.25rem; }

.pl-2 {
  padding-left: 0.5rem; }

.ml-2 {
  margin-left: 0.5rem; }

.pl-3 {
  padding-left: 0.75rem; }

.ml-3 {
  margin-left: 0.75rem; }

.pl-4 {
  padding-left: 1rem; }

.ml-4 {
  margin-left: 1rem; }

.pl-5 {
  padding-left: 1.25rem; }

.ml-5 {
  margin-left: 1.25rem; }

.pl-6 {
  padding-left: 1.5rem; }

.ml-6 {
  margin-left: 1.5rem; }

.pl-7 {
  padding-left: 1.75rem; }

.ml-7 {
  margin-left: 1.75rem; }

.pl-8 {
  padding-left: 2rem; }

.ml-8 {
  margin-left: 2rem; }

.pl-9 {
  padding-left: 2.25rem; }

.ml-9 {
  margin-left: 2.25rem; }

.pl-10 {
  padding-left: 2.5rem; }

.ml-10 {
  margin-left: 2.5rem; }

.pl-11 {
  padding-left: 2.75rem; }

.ml-11 {
  margin-left: 2.75rem; }

.pl-12 {
  padding-left: 3rem; }

.ml-12 {
  margin-left: 3rem; }

.pl-13 {
  padding-left: 3.25rem; }

.ml-13 {
  margin-left: 3.25rem; }

.pl-14 {
  padding-left: 3.5rem; }

.ml-14 {
  margin-left: 3.5rem; }

.pl-15 {
  padding-left: 3.75rem; }

.ml-15 {
  margin-left: 3.75rem; }

.pl-16 {
  padding-left: 4rem; }

.ml-16 {
  margin-left: 4rem; }

.pl-17 {
  padding-left: 4.25rem; }

.ml-17 {
  margin-left: 4.25rem; }

.pl-18 {
  padding-left: 4.5rem; }

.ml-18 {
  margin-left: 4.5rem; }

.pl-19 {
  padding-left: 4.75rem; }

.ml-19 {
  margin-left: 4.75rem; }

.pl-20 {
  padding-left: 5rem; }

.ml-20 {
  margin-left: 5rem; }

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem; }

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem; }

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem; }

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem; }

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem; }

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem; }

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem; }

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem; }

.mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem; }

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.px-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem; }

.mx-11 {
  margin-left: 2.75rem;
  margin-right: 2.75rem; }

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem; }

.mx-12 {
  margin-left: 3rem;
  margin-right: 3rem; }

.px-13 {
  padding-left: 3.25rem;
  padding-right: 3.25rem; }

.mx-13 {
  margin-left: 3.25rem;
  margin-right: 3.25rem; }

.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem; }

.mx-14 {
  margin-left: 3.5rem;
  margin-right: 3.5rem; }

.px-15 {
  padding-left: 3.75rem;
  padding-right: 3.75rem; }

.mx-15 {
  margin-left: 3.75rem;
  margin-right: 3.75rem; }

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem; }

.mx-16 {
  margin-left: 4rem;
  margin-right: 4rem; }

.px-17 {
  padding-left: 4.25rem;
  padding-right: 4.25rem; }

.mx-17 {
  margin-left: 4.25rem;
  margin-right: 4.25rem; }

.px-18 {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.mx-18 {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.px-19 {
  padding-left: 4.75rem;
  padding-right: 4.75rem; }

.mx-19 {
  margin-left: 4.75rem;
  margin-right: 4.75rem; }

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem; }

.mx-20 {
  margin-left: 5rem;
  margin-right: 5rem; }

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem; }

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem; }

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem; }

.my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.py-11 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem; }

.my-11 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem; }

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.py-13 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem; }

.my-13 {
  margin-top: 3.25rem;
  margin-bottom: 3.25rem; }

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }

.my-14 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem; }

.py-15 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }

.my-15 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem; }

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.py-17 {
  padding-top: 4.25rem;
  padding-bottom: 4.25rem; }

.my-17 {
  margin-top: 4.25rem;
  margin-bottom: 4.25rem; }

.py-18 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.my-18 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

.py-19 {
  padding-top: 4.75rem;
  padding-bottom: 4.75rem; }

.my-19 {
  margin-top: 4.75rem;
  margin-bottom: 4.75rem; }

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.h1 {
  font-size: 64px; }

.h2 {
  font-size: 48px; }

.h3 {
  font-size: 42px; }

.font-36 {
  font-size: 36px; }

.h4 {
  font-size: 32px; }

.h5 {
  font-size: 24px; }

.h6 {
  font-size: 20px; }

.p-size {
  font-size: 16px; }

.span-size {
  font-size: 14px; }

.font-weight-regular {
  font-weight: 400; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-bold {
  font-weight: 700; }

.font-weight-bolder {
  font-weight: 900; }

.fz-72 {
  font-size: 72px; }

.font-italic {
  font-style: italic; }

.border {
  border: 1px solid #ccc; }

.border-top {
  border-top: 1px solid #ccc; }

.border-bottom {
  border-bottom: 1px solid #ccc; }

.text-right {
  text-align: right; }

.text-lift {
  text-align: left; }

.text-center {
  text-align: center; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-wrap: break-word;
  width: 18rem;
  margin-right: 76px; }

.card-img {
  padding-bottom: 40px; }

.card:last-child {
  margin-right: 0px; }

.btn {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.btn-primary {
  background: #AA0601; }

.btn-secondary {
  background: #650300; }

.btn-dark {
  background: #000000; }

.btn-white {
  background: #FFFFFF; }

.btn-gray {
  background: #555555; }

.btn-lg {
  padding-right: 8.9375rem;
  padding-left: 8.9575rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc; }

.btn-lg:hover {
  background: #650300; }

.logo {
  height: 80px;
  width: 49px; }

.header {
  background: transparent url("../images/banner.png") no-repeat center center;
  height: 840px; }

.bg-index {
  background-color: #AA06010D; }

.bg-img {
  background-image: url("../images/bg.png"); }

.px-30 {
  padding-right: 30px;
  padding-left: 30px; }

.list-img {
  max-width: 60%; }

.joint-item {
  position: relative;
  margin-right: 30px; }

.joint-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); }

.recom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-wrap: break-word;
  margin-right: 30px;
  border: 1px solid #ccc; }

.recom-list li:last-child {
  margin-right: 0px; }

.recom-img {
  height: 256px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 14px; }

.recom-title {
  margin-bottom: 7px;
  padding-left: 16px;
  font-style: medium;
  font-size: 14px; }

.recom-body {
  padding-right: 16px;
  padding-left: 16px;
  text-align: left; }

.recom-footer {
  color: #707070;
  text-align: left;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 16px; }

.contact-form input, textarea {
  margin-bottom: 16px; }

.qa-banner {
  background: url("../images/qa.png") no-repeat; }

.ans {
  margin-left: 6rem; }

/*# sourceMappingURL=all.css.map */
